ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-opus-4-6
# ANTHROPIC_MODEL=claude-haiku-4-5-20251001
REDUCTO_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=
NUXT_PUBLIC_SUPABASE_ANON_KEY=

VOYAGE_API_KEY=

NUXT_SESSION_PASSWORD=